
<html class="no-js" lang="zxx">

<head>
  
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Atlas Investment Pvt. Ltd. | About Us</title>
    <meta name="description" content="">
    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/boot.css">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
  
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255, 217, 0, 0.795);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border-color: gold;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #000000, #000000);
  background: linear-gradient(to right, #000000, #000000);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 

.card {
  border: 2px solid #494844;
  box-shadow: 5px 6px 0px #d4bb18;
  transition: 0.3s all;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  
 



  
}
body {
  background: #000000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, .65);
}

a:hover {
  color: rgba(0, 0, 0, .45);
}

@media only screen and (max-width: 600px) {
  .card-deck {
    width: 440px;
  }
}

.mobile{

display: none;
}

@media only screen and (max-width: 600px) {
.mobile {
display: block;
}
}

.web{
display: block;
}

@media only screen and (max-width: 600px) {
.web {
display:none;
}
}

.logo{
height: 57px;
width: 157px;
}

.logo2{
height: 90px;
width: 200px;
}    



    </style>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img class="logo mobile" src="/img/logo-edit.png" alt="" >
                                    <img class="logo2 web" src="/img/logo2.png" alt="" >
                                </a>
                            </div>
                        </div>
                        <div class="" style=" padding-left: 160px ;">
                            <div class="main-menu  d-none d-lg-block">
                              <% if user_signed_in? %>
                                <nav>
                                    <ul id="navigation">
                                        <li><%= link_to "Home", root_path %></li>
                                        <li><%= link_to "Activities", activities_path %></li>
                                        <li><%= link_to "Profile", profile_path %></li>
                                        <li><%= link_to "FAQ", home_faq_path %></li>
                                        <li><%= link_to "About Us", home_about_path, class: "active" %></li>
                                        <li><%= link_to "Contact Us", home_contact_path %></li>
                                        <li><a href=""><%= current_user.name %><i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                              <li><%= link_to 'Edit Proile', edit_user_registration_path %></li>   
                                              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                              <% else %>
                                <nav>
                                    <ul id="navigation">
                                        <li><%= link_to "Home", root_path %></li>
                                        <li><%= link_to "FAQ", home_faq_path %></li>
                                        <li><%= link_to "About Us", home_about_path, class: "active" %></li>
                                        <li><%= link_to "Contact Us", home_contact_path %></li>
                                        <li><a href="">Join Us<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                              <li><%= link_to 'Sign In', new_user_session_path %></li>
                                              <li><%= link_to 'Sign Up', new_user_registration_path %></li>      
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                              <% end %>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 d-none d-lg-block">
                            
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    
    <!-- slider_area_end -->

    <!-- about_area _start  -->
   
    <!-- about_area _end -->

    <!-- practice_area_start -->
    
    <!-- practice_area_end -->  <!-- our_loyers-start  -->
  
    <!-- our_loyers-end  -->
    <br><br><br>
  <div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class=" card single_about_info text-center p-4" >
                <div class="about_thumb">
                  
                </div>
                <h3 class="text-white">About Us</h3>
                <p class="text-white">
                  Atlas Investments is a disciplined, value-oriented, global investment management firm committed to capital preservation and short-long term growth.
                  The depth of our research, combined with experience, great stratergy and stringent risk management, enables to seize attractive investment opportunities when they appear and the flexibility to walk away when an investment is no longer attractive.
                  At Atlas Investment we trade currency pairs, Cryptocurrencies and commodities in the live market five(5) days a week with our group of experienced traders and market analysts in order to maximize our investors profit. 
                  <br>
                  <br>
                  After years of professional trading we have joined our skills, knowledge and talents in the effort to bring a new reliable investment opportunity. As the result of careful planning and joint work emerged a reliable short-long term investment project, that offers great returns along with professional approach and security.
                  
                  We work hard to provide nothing but the best customer service. We guarantee profits will be made on your account with our tested and proven trading strategy. 
                  We are one of the only Forex Account Management services, that guarantees account growth.
                  
                  We offer weekly profit sharing at great returns on your invetments. Profits upon investments depends upon the margin which we get to trade from the brokers. The more the investments the more returns.
                  
                  We offer a great variety of Plans to satisfy our clients ranging from 5000$(Bronze) to 20000$+(Platinum).
                  <br>
                  <br>
                  Plans: 1. Bronze 2. Silver 3. Gold 4. Platinum

                  <br>
                  <br>
                  
                  
                  
                  
                  We are committed. We are transparent. So, when you choose Atlas Inverstments,you can breathe easy.
                     </p>
                     
            </div>
        </div>
       
    </div>
</div>


    <!-- testmonial_area_start  -->
   
     
    
    
     
    

    <!-- footer_start -->
<footer class="footer" style="background-color: black;">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="/">
                                    <img class="logo mobile" src="/img/logo-edit.png" alt="">
                                    <img class="logo2 web" src="/img/logo2.png" alt="" >
                                </a>
                            </div>

                            <p class="footer_text">East Kent Ave, Bryn Mawr, PA 19010, United States<br>
                                <a class="domain" href="#">atlasinvestments@support.com</a></p>
                            
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Navigation
                            </h3>
                            <ul>
                              <% if user_signed_in? %>
                                <li><%= link_to "Home", root_path %></li>
                                <li><%= link_to "Activities", activities_path %></li>
                                <li><%= link_to "Profile", profile_path %></li>
                                <li><%= link_to "FAQ", home_faq_path %></li>
                              <% else %>
                                <li><%= link_to "Home", root_path %></li>
                                <li><%= link_to 'Sign In', new_user_session_path %></li>
                                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                                <li><%= link_to "FAQ", home_faq_path %></li>
                              <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><%= link_to "About Us", home_about_path %></li>
                            
                                <li><%= link_to "Contact Us", home_contact_path %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Subscribe
                            </h3>
                            <form action="/home/subscribe" class="newsletter_form" method="post">
                              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                <input type="text" name="email" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- footer_end -->


    <!-- JS here -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/scrollIt.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/gijgo.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>

    <!--contact js-->
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>

    <script src="/js/main.js"></script>
    <!-- <script>
      document.getElementById("demo").addEventListener("click", getVal);
 function getVal(){
  var txt = document.getElementById('txt').value;
 


 

  if(txt < 5000){

    document.getElementById("myH1").style.color = "red";
          


  }  else{

    document.getElementById("myH1").style.color = "black";
  
  }

  

 }
 document.getElementById("balanceCheck").addEventListener("click", balanceComp);
 function balanceComp(){

  var txt2 = document.getElementById('txt2').value;
var balance = document.getElementById('balance').innerText;




if( txt2 < balance){

  console.log("less than current balance");

}
else{

console.log(" not less than current balance");
 
}

 }

  
  </script> -->


    <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                // disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
            });
            $('#datepicker2').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
    
            });
            var timepicker = $('#timepicker').timepicker({
             format: 'HH.MM'
         });
        </script>
        <script>
            // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
        </script>
</body>

</html>